.prompt {
    border: 4px solid rgb(0, 174, 255);
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;    
    line-height: 1.7;
    margin-bottom: 10px;
    text-align: justify;
}


.prompt__header {
    padding-left: 40px;
}