.table {
    overflow-x: auto;
}


.table__container {
    border-collapse: collapse;
    width: 100%;
}


.table__header {
    color: #012074;
}


.table__cell {
    border: 1px solid rgb(236, 230, 230);
    text-align: center;
}


.table__cost {
    color: #012074;
    font-weight: 700;
}


.table__cost--overview {
    margin: 20px;
    padding: 10px;
    background-color: #012074;
    color: white;
    border-radius: 20px;
    border: none;
} 



.table__cost--overview:hover {
    background-color: #0533b3;;
}


.table__cost--overview:active {
    background-color: #0443f3;;
}

.table__cell--rowColor {
    color: #012074;
}


.table__cell--column {
    color: white;
    background-color: #20a3dd;
}

.table__row:hover {
    background-color: rgb(238, 245, 245);
}